<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Denote - About</title>
</head>
<style>
    /* CSS */
    .button-65 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }

    .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }

    .button-65:hover:after {
    opacity: .5;
    }

    .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
    }

    .button-65:active:after {
    opacity: 1;
    }

    @media (min-width: 768px) {
    .button-65 {
        padding: 14px 22px;
        width: 230px;
    }
    }
</style>
<body class="container">
    <header
    >
        <%- include('partials/header'); %>
    </header>

    <main
        style="margin-top: 100px;"
        width="100%"
        class="d-flex flex-column align-items-center"
    >
        <img src="<%= url + '/bug.png' %>" alt="Denote Icon" width="100px" height="150px" style="object-fit: contain;">
        <a
            style="margin-right: 10px;"
            classname="btn btn-primary btn-lg"
            href="https://docs.google.com/forms/d/e/1FAIpQLScrKy8d5o10RFF_nN1-Fi5XsUfO91mPfubCJksNmn4Pg7cQCA/viewform?usp=sharing"
        >
            <button class="button-65" role="button">Report Bugs</button>
        </a>
        <img src="<%= url + '/freq.png' %>" alt="Denote Icon" width="100px" height="150px" style="object-fit: contain;">
        <a
            style="margin-right: 10px;"
            classname="btn btn-primary btn-lg"
            href="https://docs.google.com/forms/d/e/1FAIpQLSeBrsSktvQxQ4KvnraRsd5Ob2uBvPriU15wIVQsRP1sBM78ig/viewform?usp=sharing"
        >
            <button class="button-65" role="button">Feature Request</button>
        </a>
        
    </main>

    <footer
        style="margin-top: 100px;"
        width="100%"
        class="d-flex flex-column align-items-center"
    >
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>