<html>
   <head>
    <title>Denote - Guide</title>


      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
      <style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=iMc4-4exjgqA-toZgqqJBf35jAjY-31lSKWZb9Fa77M');ol{margin:0;padding:0}table td,table th{padding:0}.c3{border-right-style:solid;border-bottom-color:#646464;border-top-width:0pt;border-right-width:0pt;border-left-color:#646464;vertical-align:top;border-right-color:#646464;border-left-width:0pt;border-top-style:solid;background-color:#f3f3f3;border-left-style:solid;border-bottom-width:0pt;width:190.5pt;border-top-color:#646464;border-bottom-style:solid}.c5{border-right-style:solid;border-bottom-color:#646464;border-top-width:0pt;border-right-width:0pt;border-left-color:#646464;vertical-align:top;border-right-color:#646464;border-left-width:0pt;border-top-style:solid;background-color:#f3f3f3;border-left-style:solid;border-bottom-width:0pt;width:108.8pt;border-top-color:#646464;border-bottom-style:solid}.c13{padding-top:0pt;border-top-width:0pt;padding-bottom:0pt;line-height:1.15;border-top-style:solid;border-bottom-width:0pt;border-bottom-style:solid;orphans:2;widows:2;text-align:left}.c16{padding-top:16pt;border-top-width:0pt;padding-bottom:4pt;line-height:1.15;border-top-style:solid;border-bottom-width:0pt;border-bottom-style:solid;orphans:2;widows:2;text-align:left}.c19{padding-top:18pt;border-top-width:0pt;padding-bottom:6pt;line-height:1.15;border-top-style:solid;border-bottom-width:0pt;border-bottom-style:solid;orphans:2;widows:2;text-align:left}.c15{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:16pt;font-family:"Open Sans";font-style:normal}.c20{padding-top:18pt;padding-bottom:6pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c10{color:#434343;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:14pt;font-family:"Open Sans";font-style:normal}.c12{padding-top:16pt;padding-bottom:4pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c21{padding-top:0pt;padding-bottom:3pt;line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c0{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:10pt;font-family:"Open Sans";font-style:normal}.c2{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c11{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:26pt;font-family:"Open Sans";font-style:normal}.c6{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left;height:11pt}.c4{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Open Sans";font-style:normal}.c17{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}.c1{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:center}.c18{border-spacing:0;border-collapse:collapse;margin-right:auto}.c14{font-size:10pt;font-family:"Open Sans";font-weight:700}.c23{background-color:#ffffff;max-width:468pt;padding:72pt 72pt 72pt 72pt}.c9{font-size:9.5pt;color:#e83e8c}.c8{font-weight:400;font-family:"Open Sans"}.c7{height:21.6pt}.c22{height:22.5pt}.title{padding-top:0pt;color:#000000;font-size:26pt;padding-bottom:3pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:0pt;color:#666666;font-size:15pt;padding-bottom:16pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:20pt;color:#000000;font-size:20pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:18pt;color:#000000;font-size:16pt;padding-bottom:6pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h3{padding-top:16pt;color:#434343;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:14pt;color:#666666;font-size:12pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:12pt;color:#666666;font-size:11pt;padding-bottom:4pt;font-family:"Arial";line-height:1.15;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}</style>
      <%- include('partials/head'); %>

    </head>

   <body >
    <header
    >
        <%- include('partials/header'); %>
    </header>
       <div style="margin-left:250px; margin-right:250px; margin-top:100px">
        <p class="c21 title" id="h.q87d521l75fw"><span class="c11">Feature Guide</span></p>
        <h2 class="c20" id="h.1il1ok1rbdl7"><span class="c15">AI Tools:</span></h2>
        <h3 class="c12" id="h.9yslwy35o8hj"><span class="c10">Question:</span></h3>
        <p class="c17"><span class="c4">Ask the AI any question, and you will get an accurate answer. The AI is designed such that it automatically reads your entire page. With all the information, you will get an accurate and reliable answer.</span></p>
        
        <img src="<%= url + '/prompt.gif' %>" alt="Denote Icon" width="70%">
        
        <h3 class="c12" id="h.8kabhat1e02o"><span class="c10">Beautify:</span></h3>
        <p class="c17"><span class="c8">There are times when formatting notes can be a waste of time. With just a click of a button, our AI can beautifully format your notes.</span></p>
        
        <img src="<%= url + '/beautify.gif' %>" alt="Denote Icon" width="70%">
        
        <h3 class="c12" id="h.qnvzkm6czioe"><span class="c10">Fill Blanks:</span></h3>
        <p class="c17"><span class="c8">Sometimes the teacher or lecturer can be a little too fast. Maybe that caused you to miss some parts. By inserting &ldquo;[...]&rdquo; into any part of the notes where you missed out, our AI will fill in the information for you!</span></p>
        
        <img src="<%= url + '/fb.gif' %>" alt="Denote Icon" width="70%">
        
        <h2 class="c20" id="h.sbn0iwxbbvte"><span class="c15">Math Equations:</span></h2>
        <p class="c17"><span class="c4">Latex tends to have a steep learning curve. With our &ldquo;Insert Math Equation&rdquo; feature, you can easily insert any math expression inline!</span></p>
        
        <img src="<%= url + '/math.gif' %>" alt="Denote Icon" width="70%">
        
        <p class="c6"><span class="c4"></span></p>
        <h2 class="c19" id="h.exks33wjxsx3"><span class="c15">Other Features:</span></h2>
        <h3 class="c16" id="h.khhf8mouvwlp"><span class="c10">Smart Symbols</span></h3>
        <p class="c13"><span class="c8">Adding in arrows or symbols is always an inconvenience. In Denote you can just type </span><span class="c9 c8">-&gt;</span><span class="c8">&nbsp;and it turns automatically into &rarr;. You can add emojis like &#10084;&#65039; or &#x1f4a9; with </span><span class="c9 c8">&lt;3</span><span class="c8">&nbsp;and </span><span class="c9 c8">\poop</span><span class="c8">.<br>To add math symbols quickly, type </span><span class="c9 c8">\Omega</span><span class="c8">&nbsp;for &Omega;, or </span><span class="c9 c8">\pi</span><span class="c8">&nbsp;for &pi;. You can add &ne; by typing </span><span class="c9 c8">!=</span><span class="c8">, or &plusmn; by typing </span><span class="c9 c8">\pm</span><span class="c8">, or &#8534; by typing </span><span class="c9 c8">2/5</span><span class="c4">! Let us know if you would like us to add any other shortcuts &#x1f603;</span></p>
        <h3 class="c16" id="h.z1nnhk89bmgu"><span class="c10">Code Blocks</span></h3>
        <p class="c13"><span class="c8">You can add code blocks by typing </span><span class="c9 c8">```</span><span class="c8">&nbsp;or by hitting Cmd+Shift+E and then the language. For example, </span><span class="c9 c8">```python</span><span class="c4">&nbsp;will add a python code block.</span></p>
        <h3 class="c16" id="h.m9chsjstcn6n"><span class="c10">Markdown Shortcuts</span></h3>
        <p class="c13"><span class="c8">You can add bold text by typing </span><span class="c9 c8">**bold**</span><span class="c8">&nbsp;or </span><span class="c9 c8">__bold__</span><span class="c8">. You can add italics by typing </span><span class="c9 c8">*italics*</span><span class="c8">&nbsp;or </span><span class="c9 c8">_italics_</span><span class="c8">. You can add a heading by typing </span><span class="c9 c8"># heading</span><span class="c8">&nbsp;or </span><span class="c9 c8">## heading</span><span class="c8">&nbsp;or </span><span class="c9 c8">### heading</span><span class="c8">. You can add a list by typing </span><span class="c8 c9">- list item</span><span class="c8">&nbsp;or </span><span class="c9 c8">1. list item</span><span class="c8">. You can add a quote by typing </span><span class="c9 c8">&gt; quote</span><span class="c8">. You can add a horizontal rule by typing </span><span class="c9 c8">---</span><span class="c8">. You can add a strikethrough by typing </span><span class="c9 c8">~~strikethrough~~</span><span class="c8">. You can add inline code by typing </span><span class="c9 c8">`inline code`</span><span class="c4">.</span></p>
        <p class="c6"><span class="c4"></span></p>
        <h2 class="c20" id="h.mr1ywp6nvqpk"><span class="c15">Shortcuts:</span></h2>
        <p class="c6"><span class="c2"></span></p>
        <a id="t.0a28078a6674ee1791269bf2b8a4f10b40a6c89a"></a><a id="t.0"></a>
        <table style="box-shadow: 0px 0px 5px lightgray;">
            <tr style="height:25px; ">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c14">Feature</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c14">Shortcut</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Bold</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+B</span></p>
                </td>
            </tr>
            <tr class="c22">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Italic</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+I</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Underline</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+U</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Strikethrough</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+X</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Heading 1</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+1</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Heading 2</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+2</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Heading 3</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+3</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Inline Code</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+E</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Code Block</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+E</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Math Equation</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+M</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Horizontal Rule</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+-</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Highlight</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+H</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Ordered List</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+7</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Unordered List</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+8</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Blockquote</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+B</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Use Prompt AI</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Alt+P</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Beautify</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Alt+B</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Fill Blanks</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Alt+F</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Save File</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+S</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Open Folder</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+O</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Clear Formatting</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+X</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Undo</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Z</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Redo</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+Z</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Copy</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+C</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cut</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+X</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Paste</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+V</span></p>
                </td>
            </tr>
            <tr class="c7">
                <td class="c3" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Paste without Formatting</span></p>
                </td>
                <td class="c5" colspan="1" rowspan="1">
                <p class="c1"><span class="c0">Cmd+Shift+V</span></p>
                </td>
            </tr>
        </table>
        <p class="c6"><span class="c2"></span></p>
    </div>
   </body>
</html>