<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Denote</title>
</head>
<body class="container">
    <header
    >
        <%- include('partials/header'); %>
    </header>

    <main
        style="margin-top: 100px;"
        width="100%"
        class="d-flex flex-column align-items-center"
    >
        <h1>Home</h1>
        <img src="<%= url + '/Denote-Icon-Rounded-1024.png' %>" alt="Denote Icon" width="100px" height="100px">
        <p>Welcome to the home page!</p>

        <div>
            <a
                style="margin-right: 10px;"
                classname="btn btn-primary btn-lg"
                href="https://www.github.com/ouragan84/denote-releases/releases/download/v<%= version%>/Denote-<%= version%>-universal.dmg"
                download="Denote-<%= version%>-Setup.dmg"
            >
                <i class="fa fa-download"></i> Download for Mac
            </a>
            <a
                style="margin-right: 10px;"
                classname="btn btn-primary btn-lg"
                href="https://www.github.com/ouragan84/denote-releases/releases/download/v<%= version%>/Denote-<%= version%>-FILL-IN-ARCHITECTURE.exe"
                download="Denote-<%= version%>-Setup.exe"
            >
                <i class="fa fa-download"></i> Download for Windows
            </a>
        </div>
        
    </main>

    <footer
        style="margin-top: 100px;"
        width="100%"
        class="d-flex flex-column align-items-center"
    >
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>