<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
    <title>Denote - Main</title>
</head>
<style>
    /* CSS */
    .button-65 {
    appearance: none;
    backface-visibility: hidden;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }

    .button-65:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }

    .button-65:hover:after {
    opacity: .5;
    }

    .button-65:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
    }

    .button-65:active:after {
    opacity: 1;
    }

    @media (min-width: 768px) {
    .button-65 {
        padding: 14px 22px;
        width: 230px;
    }
    }

    .collapse {
            background-color: #a2de96;
            border: none;
            outline: none;
            font-size: 25px;
        }
          
        .active,
        .collapse:hover {
            background-color: #438a5e;
        }
          
        .text {
            background-color: #e1ffc2;
            display: none;
            font-size: 20px;
        }
</style>
<body class="container">
    <header
    >
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top justify-content-center">
        <a class="navbar-brand " href="/">
          <img src="<%= url + '/denote_icon_tl.png' %>" alt="Denote Icon" height="40px" style="position:inherit; padding-right: 10px;" >
          Denote 
        </a>
        </ul>
    </nav>
    </header>

    <main
        style="margin-top: 100px; "
        width="100vw"
        class="flex flex-column align-items-right"
    >

    <div style="">
        <div style="background-color: lightgray; height:10px; filter: blur(8px);"></div>

        <p style="font-size: 40px; line-height: 60px; font-weight: light; margin-bottom: 0; text-align: center;">All <u>note-taking</u> <i>tools</i> <b>in one app!</b></p>
        <div style="background-color: lightgray; height:10px; filter: blur(8px);">

    </div>


    <p style="font-size: 18px; font-weight: light; margin-bottom: 0; text-align: center; margin-left: 50px; margin-right: 50px; margin-top: 20px;">Enhance productivity with our helpful <b style="color:#2f80ed; font-weight:900;">AI</b> features!</p>

    <div style="display:flex; flex-direction: column; justify-content:'center'; background-color: #ffffff; padding-left: 20px; padding-right: 20px;">
        <img src="<%= url + '/denote_qstn.jpg' %>" alt="...">
        <img src="<%= url + '/denote_btfy.jpg' %>" alt="...">
        <img src="<%= url + '/denote_fibl.jpg' %>" alt="...">
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; padding-top: 20px;">
            
        <a
            style="margin-bottom: 10px; font-size: 24pt; display: flex; justify-content: center;"
            classname="btn btn-primary btn-lg"
            href="<%= url + '/download/macos'%>"
            download="Denote-<%= version%>-Setup.dmg"
        >
            <button class="button-65" role="button" style="height: 4rem; font-size: 14pt; width: 17rem;"><i class="fa fa-apple"></i> Download For Mac</button>
        </a>
        <a
            style=" display: flex; justify-content: center;"
            classname="btn btn-primary btn-lg"
            href="<%= url + '/download/windows'%>"
            download="Denote-<%= version%>-Setup.exe"
        >
            <button class="button-65" role="button" style="height: 4rem; font-size: 14pt; width: 17rem;"><i class="fa fa-windows"></i> Download For Windows</button>
        </a>
    </div>
    <div style="background-color: lightgray; height:2px; margin-top: 50px; margin-bottom: 50px;"></div>
    
    <div
    width="100%"
    class="d-flex flex-column align-items-center"
    >
    <h1>Feedback</h1>
    <img src="<%= url + '/bug.png' %>" alt="Denote Icon" width="100px" height="150px" style="object-fit: contain;">
    <a
        style="margin-right: 10px;"
        classname="btn btn-primary btn-lg"
        href="https://docs.google.com/forms/d/e/1FAIpQLScrKy8d5o10RFF_nN1-Fi5XsUfO91mPfubCJksNmn4Pg7cQCA/viewform?usp=sharing"
    >
        <button class="button-65" role="button">Report Bugs</button>
    </a>
    <img src="<%= url + '/freq.png' %>" alt="Denote Icon" width="100px" height="150px" style="object-fit: contain;">
    <a
        style="margin-right: 10px;"
        classname="btn btn-primary btn-lg"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeBrsSktvQxQ4KvnraRsd5Ob2uBvPriU15wIVQsRP1sBM78ig/viewform?usp=sharing"
    >
        <button class="button-65" role="button">Feature Request</button>
    </a>
    
    </div>

    <div style="background-color: lightgray; height:2px; margin-top: 50px; margin-bottom: 50px;"></div>

    <div
    width="100%"
    class="d-flex flex-column align-items-center"
    >
    <h1 style="text-align: center;">Meet the Developers!</h1>  
        <img src="<%= url + '/dev1.png' %>" width="220px" alt="Denote Icon">
        <img src="<%= url + '/dev2.png' %>" width="380px" alt="Denote Icon">
        <img src="<%= url + '/dev3.png' %>" width="275px" alt="Denote Icon">
    </div>

    <div style="background-color: lightgray; height:2px; margin-top: 50px; margin-bottom: 50px;"></div>


    <h1>Feature Guide</h1>
<h2>AI Tools:</h2>
<h3>Question:</h3>
<p>Ask the AI any question, and you will get an accurate answer. The AI is designed such that it automatically reads your entire page. With all the information, you will get an accurate and reliable answer.</p>
<h3>Beautify:</h3>
<p>There are times when formatting notes can be a waste of time. With just a click of a button, our AI can beautifully format your notes.</p>
<h3>Fill Blanks:</h3>
<p>Sometimes the teacher or lecturer can be a little too fast. Maybe that caused you to miss some parts. By inserting &ldquo;[...]&rdquo; into any part of the notes where you missed out, our AI will fill in the information for you!</p>
<h2>Math Equations:</h2>
<p>Latex tends to have a steep learning curve. With our &ldquo;Insert Math Equation&rdquo; feature, you can easily insert any math expression inline!</p>
<p><br></p>
<h2>Other Features:</h2>
<h3>Smart Symbols</h3>
<p>Adding in arrows or symbols is always an inconvenience. In Denote you can just type&nbsp;-&gt;&nbsp;and it turns automatically into &rarr;. You can add emojis like ❤️ or 💩 with&nbsp;&lt;3&nbsp;and&nbsp;\poop.<br>To add math symbols quickly, type&nbsp;\Omega&nbsp;for &Omega;, or&nbsp;\pi&nbsp;for &pi;. You can add &ne; by typing&nbsp;!=, or &plusmn; by typing&nbsp;\pm, or ⅖ by typing&nbsp;2/5! Let us know if you would like us to add any other shortcuts 😃</p>
<h3>Code Blocks</h3>
<p>You can add code blocks by typing&nbsp;```&nbsp;or by hitting Cmd+Shift+E and then the language. For example,&nbsp;```python&nbsp;will add a python code block.</p>
<h3>Markdown Shortcuts</h3>
<p>You can add bold text by typing&nbsp;**bold**&nbsp;or&nbsp;__bold__. You can add italics by typing&nbsp;*italics*&nbsp;or&nbsp;_italics_. You can add a heading by typing&nbsp;# heading&nbsp;or&nbsp;## heading&nbsp;or&nbsp;### heading. You can add a list by typing&nbsp;- list item&nbsp;or&nbsp;1. list item. You can add a quote by typing&nbsp;&gt; quote. You can add a horizontal rule by typing&nbsp;---. You can add a strikethrough by typing&nbsp;~~strikethrough~~. You can add inline code by typing&nbsp;`inline code`.</p>
<p><br></p>
<h2>Shortcuts:</h2>
<p><br></p>
<div >
    <table>
        <tbody>
            <tr>
                <td>
                    <p><b>Feature</b></p>
                </td>
                <td>
                    <p><b>Shortcut</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Bold</p>
                </td>
                <td>
                    <p>Cmd+B</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Italic</p>
                </td>
                <td>
                    <p>Cmd+I</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Underline</p>
                </td>
                <td>
                    <p>Cmd+U</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Strikethrough</p>
                </td>
                <td>
                    <p>Cmd+Shift+X</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Heading 1</p>
                </td>
                <td>
                    <p>Cmd+Shift+1</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Heading 2</p>
                </td>
                <td>
                    <p>Cmd+Shift+2</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Heading 3</p>
                </td>
                <td>
                    <p>Cmd+Shift+3</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Inline Code</p>
                </td>
                <td>
                    <p>Cmd+E</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Code Block</p>
                </td>
                <td>
                    <p>Cmd+Shift+E</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Math Equation</p>
                </td>
                <td>
                    <p>Cmd+M</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Horizontal Rule</p>
                </td>
                <td>
                    <p>Cmd+Shift+-</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Highlight</p>
                </td>
                <td>
                    <p>Cmd+Shift+H</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Ordered List</p>
                </td>
                <td>
                    <p>Cmd+Shift+7</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Unordered List</p>
                </td>
                <td>
                    <p>Cmd+Shift+8</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Blockquote</p>
                </td>
                <td>
                    <p>Cmd+Shift+B</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Use Prompt AI</p>
                </td>
                <td>
                    <p>Cmd+Alt+P</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Beautify</p>
                </td>
                <td>
                    <p>Cmd+Alt+B</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Fill Blanks</p>
                </td>
                <td>
                    <p>Cmd+Alt+F</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Save File</p>
                </td>
                <td>
                    <p>Cmd+S</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Open Folder</p>
                </td>
                <td>
                    <p>Cmd+O</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Clear Formatting</p>
                </td>
                <td>
                    <p>Cmd+Shift+X</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Undo</p>
                </td>
                <td>
                    <p>Cmd+Z</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Redo</p>
                </td>
                <td>
                    <p>Cmd+Shift+Z</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Copy</p>
                </td>
                <td>
                    <p>Cmd+C</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Cut</p>
                </td>
                <td>
                    <p>Cmd+X</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Paste</p>
                </td>
                <td>
                    <p>Cmd+V</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Paste without Formatting</p>
                </td>
                <td>
                    <p>Cmd+Shift+V</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
      


    <footer
        style="margin-top: 100px;"
        width="100%"
        class="d-flex flex-column align-items-center"
    >
    </footer>

    </main>


</body>
</html>